<ul>
<li>Added: french translation - thanks to <a href="https://github.com/EnlighterJS/Plugin.WordPress/pull/144" data-hovercard-type="pull_request" data-hovercard-url="/EnlighterJS/Plugin.WordPress/pull/144/hovercard">regisenguehard on GitHub</a></li>
<li>Added: simplified chinese translation - thanks to <a href="https://github.com/EnlighterJS/Plugin.WordPress/pull/145" data-hovercard-type="pull_request" data-hovercard-url="/EnlighterJS/Plugin.WordPress/pull/145/hovercard">XFY9326 on GitHub</a></li>
<li>Changed: jsdelivr mootools version pointed to <code>1.6.0</code></li>
<li>Changed: the DRI detection is now limited to the condition <code>in_the_loop() &amp;&amp; is_main_query()</code></li>
<li>Bugfix: the experimental DRI feature failed in case <code>the_content</code> filter is called multiple times within a theme - thanks to <a href="https://github.com/EnlighterJS/Plugin.WordPress/pull/153" data-hovercard-type="pull_request" data-hovercard-url="/EnlighterJS/Plugin.WordPress/pull/153/hovercard">willstocks-tech on GitHub</a></li>
</ul>